---
import { Image } from "astro:assets";
import background from "../../assets/images/contact.png";
import CustomInput from "../ui/form/CustomInput.astro";
import CustomTextarea from "../ui/form/CustomTextarea.astro";
import FormButton from "../ui/buttons/FormButton.astro";
---

<section
  class="relative w-full h-[80vh] overflow-hidden py-32 flex items-center"
>
  <div
    class="container px-4 mx-auto relative z-10 flex justify-between items-center gap-32 text-font-primary"
  >
    <div class="w-full max-w-1/2">
      <span class="text-lg text-font-secondary tracking-[0.4rem]"
        >VENTA DE MADERAS</span
      >
      <h2 class="text-font-secondary text-5xl font-semibold mt-2">
        Estas buscando comprar maderas?
      </h2>
      <p class="text-lg mt-8 max-w-md">
        taller de luthería, artesanal, fabricación de instrumentos musicales,
        reparación profesional. taller de luthería, artesanal, fabricación de
        instrumentos musicales, reparación profesional.taller de luthería.
      </p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <form action="#" class="w-full max-w-md xl:mx-32 space-y-3">
      <CustomInput
        id="email"
        label="Email"
        type="email"
        name="email"
        placeholder="john.doe@gmail.com"
      />

      <CustomTextarea
        id="message"
        label="Mensaje"
        name="message"
        placeholder="Ingresa tu mensaje"
      />
      <FormButton extraClasses="mt-6">Enviar mensaje</FormButton>
    </form>
  </div>

  <Image
    src={background}
    alt=""
    class="w-full absolute bottom-0 object-cover"
  />
</section>
