---
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import HomeBanner from "../components/sections/HomeBanner.astro";
import HomeGallery from "../components/sections/HomeGallery.astro";
import Services from "../components/sections/Services.astro";
import Wood from "../components/sections/Wood.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <HomeBanner />
    <About />
    <Services />
    <HomeGallery />
    <Wood />
    <Contact />
  </main>
</Layout>
