---
import About from "../components/sections/About.astro";
import HomeBanner from "../components/sections/HomeBanner.astro";
import Services from "../components/sections/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <HomeBanner />
    <About />
    <Services />
  </main>
</Layout>
