---
import NavLink from "./ui/NavLink.astro";

import background from "../assets/images/footer.png";

import WhatsappIcon from "../assets/icons/whatsapp.svg";
import InstagramIcon from "../assets/icons/instagram.svg";
import FacebookIcon from "../assets/icons/facebook.svg";
import GmailIcon from "../assets/icons/gmail.svg";
import { Image } from "astro:assets";
---

<footer class="relative w-full overflow-hidden">
  <div class="relative z-20 container mx-auto px-4">
    <nav class="py-10 text-center flex flex-col items-center">
      <span
        class="uppercase text-base text-font-secondary translate-y-4 tracking-[0.4em]"
        >INSTRUMENTOS DE CUERDA</span
      >
      <a href="/#" class="font-primary text-[6rem] text-font-secondary"
        >La Casa del Luthier</a
      >

      <ul class="flex items-center gap-10">
        <li>
          <NavLink href="/#" ariaLabel="ir a inicio">Inicio</NavLink>
        </li>
        <li>
          <NavLink href="/blog" ariaLabel="ir al blog">Blog</NavLink>
        </li>
        <li>
          <NavLink href="/maderas" ariaLabel="ir a página de maderas"
            >Maderas</NavLink
          >
        </li>
        <li>
          <NavLink href="/instrumentos" ariaLabel="ir a página de instrumentos"
            >Instrumentos</NavLink
          >
        </li>
      </ul>

      <ul class="flex items-center gap-10 mt-10">
        <li>
          <a href="#" target="_blank" data-label="Ir al whatsapp de la empresa">
            <WhatsappIcon class="size-12 hover:scale-105 duration-300" />
          </a>
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            data-label="Ir al Instagram de la empresa"
          >
            <InstagramIcon class="size-12 hover:scale-105 duration-300" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" data-label="Ir al Facebook de la empresa">
            <FacebookIcon class="size-12 hover:scale-105 duration-300" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" data-label="Ir al Gmail de la empresa">
            <GmailIcon class="size-12 hover:scale-105 duration-300" />
          </a>
        </li>
      </ul>
    </nav>
    <p
      class="py-6 border-t-[1px] border-background text-center text-font-primary/60"
    >
      ©Copyright - La Casa del Luthier
    </p>
  </div>

  <Image src={background} alt="" class="w-full absolute top-0 object-cover" />
</footer>
